@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

@theme{
  /* Woodsmoke Custom Color */
  --color-woodsmoke-50: #f7f7f8;
  --color-woodsmoke-100: #ededf1;
  --color-woodsmoke-200: #d7d8e0;
  --color-woodsmoke-300: #b5b6c4;
  --color-woodsmoke-400: #8c8ea4;
  --color-woodsmoke-500: #6e7189;
  --color-woodsmoke-600: #595a70;
  --color-woodsmoke-700: #48495c;
  --color-woodsmoke-800: #3e3e4e;
  --color-woodsmoke-900: #373843;
  --color-woodsmoke-950: #0e0e11;

  /* Zuccini Custom Color */
  --color-zuccini-50: #eefff5;
  --color-zuccini-100: #d8ffeb;
  --color-zuccini-200: #b4fed8;
  --color-zuccini-300: #79fcba;
  --color-zuccini-400: #38f094;
  --color-zuccini-500: #0ed975;
  --color-zuccini-600: #05b45d;
  --color-zuccini-700: #088d4c;
  --color-zuccini-800: #0c6f3f;
  --color-zuccini-900: #0c5b36;
  --color-zuccini-950: #004526;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FDFFF5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

body {
  margin: 0;  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
}

.fade-out{
  animation: fadeOut 0.3s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
  to {  
    opacity: 0;
    transform: scale(0.95);
    transform: translateY(-5px);
  }
}

